html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, em, img, dl, dt, dd, ol, ul, li, form, label, 
tbody, tfoot, thead, tr, th, td,
article, aside, footer, header, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
}

/*Color Scheme: https://coolors.co/02182b-e4eff1-f45b69-2667ff*/

body {
    display: grid;
    grid-template-rows: 80px auto 30px;
    height: 100vh;
}

header {
    background-color: #2667FF;
    color: white;
    font-family: 'Rubik', sans-serif;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    font-size: 2em;
}

h2#header-h2 {
    font-size: 1em;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #E4EFF1;
    height: 100%;
}

.front-end-left {
    margin: 20px;
    background-color: white;
    padding: 15px;
    font-family: 'Rubik', sans-serif;
    color: #02182B;
}

#fullname {
    margin-top: 15px;
}

#possible-entries {
    padding-top: 30px;
    font-size: 1.1em;
}

h3 {
    font-size: 1.6em;
    font-weight: 400;
    color: #02182B;
}

h4 {
    padding-top: 15px;
    font-size: 1.2em;
    font-weight: 300;
    color: #02182B;
}

.front-end-right {
    margin: 20px;
    padding: 15px;
    background-color: white;
    font-family: 'Rubik', sans-serif;
}

#criminal-background {
    padding-top: 30px;
}

h5 {
    font-size: 1em;
    font-weight: 300;
    color: #F45B69;
}

footer {
    background-color: #2667FF;
    color: white;
    font-family: 'Rubik', sans-serif;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer-p {
    font-size: 12px;
}